In [1]:
from math import ceil
from pathlib import Path
import sys

sys.path.insert(0, str(Path().absolute().parent))

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
from PIL import Image

In [3]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from catboost import CatBoostClassifier

In [4]:
from settings import PATH, SETTINGS
from utils import *
from data_convert import process_data_approach_2
from catboost_approach import MyCB, MyCBR

In [5]:
%%time
MyCB(tqdm=tqdm).read_data(force=True)

  0%|          | 0/66400 [00:00<?, ?it/s]

Wall time: 1min 10s

                        1             2  target
id
cac1_1000_0  5.925171e-10  2.312048e-10       0
cac1_1000_1  6.045129e-10  2.551607e-10       0
cac1_1001_0  5.885792e-10  2.175495e-10       1
cac1_1001_1  5.877607e-10  2.148453e-10       1
cac1_1002_0  5.841881e-10  1.980637e-10       0
...                   ...           ...     ...
kas2_997_1   6.107950e-10  3.559764e-10       0
kas2_998_0   6.738095e-10  6.202334e-10       1
kas2_998_1   6.176708e-10  3.825910e-10       1
kas2_999_0   6.000758e-10  2.660702e-10       0
kas2_999_1   5.815854e-10  1.926657e-10       0

[66400 rows x 3 columns]

In [6]:
%%time
for edge in (0, 50, 100):
    model = MyCB(edge=edge)
    model.read_data()
    model.fit(*model.my_train)
    print(edge, model.score(*model.my_data))

0 0.7543657329438858
50 0.9763697532700608
100 0.9966732838320045
Wall time: 1min 13s

In [7]:
%%time
model = MyCBR(drop_0=True)
model.read_data()
model.fit(*model.my_train)
model.score(*model.my_data)

Wall time: 2.98 s

0.8353423042052497